h1, h2{
	text-align: center;
}

#HighscoresTable {
	border-collapse: collapse;
	border-style: solid;
	border-width: 3px;
	width: 50%;
	margin: 20% 25% 30% 25%;
}

td, th{
	border: 1px solid black;
	color: red;
	font-size: 20px;
}

td {
	text-align: center;
}

th[name="col1"], td[name="col1"] {
	width: 40%
}

td[name="col2"], td[name="col2"] {
	width: 60%
}

body {
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0;
}

p {
	color: white;
	text-align: center;
	font-size: 18px;
}

.menu_simple {
	height: 69px;
	width: 160px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

.menu_simple ul {	
	padding: auto;
	list-style-type: none;
}

.menu_simple ul li a {
	text-decoration: none;
	color: white;
	padding: 10.5px 11px;
	background-color: #005555;
	display:block;
	text-align: center;
}

.menu_simple ul li a:visited {
	color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
	color: white;
	background-color: #5FD367;
}
